

.page {
    display:grid;
    grid-template-columns: 250px auto 250px;
    grid-template-rows: 40px auto ;
    overflow: auto;
}

.desktop {
    grid-column: 2;
    grid-row: 1 / span 2;
    background-color: black;
    color: white;
    height: calc(100vh - 52px);
}




.leftsidelist {
    grid-column: 1;
    grid-row: 2;
    border-right-style: solid;
    overflow: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 95px);
    
}

.buttonbarleft {
    grid-column: 1;
    grid-row: 1;
    border-right-style:solid;
}



.buttonbarright {
    grid-column: 3;
    grid-row: 1;
    border-left-style: solid;
}



.rightsidelist {
    grid-column: 3;
    grid-row: 2;
    overflow: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 95px);
    border-left-style: solid;
}
